@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
    /* font-size: 16px; */
    box-sizing: border-box;
    
    font-family: 'Raleway',sans-serif;
}
body{
    margin: 0;
    padding: 0;
position: relative;
height: 100vh;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
color: #fff;
background-color: hsl(229, 57%, 11%);
}
.back{
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("images/bg-desktop.svg") no-repeat;
    background-size: cover;
}
.left,.right{
    background-color:  hsl(228, 56%, 26%);
    border-radius: 8px;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.356);
    width: max-content;
    padding: 25px;
}
.left{
    margin: 25px;
    width: 256px;
    height: 150px;
    display: flex;
    border-top-right-radius: 80px;
    flex-direction: column;
    justify-content: space-between;
}
.right{
    font-size: 14px;
    position: relative;
    width: 400px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.remainder{
    position: absolute;
    background-color: #fff;
    padding: 11px;
    color: #000;
    font-weight: 800;
    font-size: 22px;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    border-radius: 8px;
    top: -32px;
    right: 7%;
}
.arrow{
    position: absolute;
    border-style: solid;
    border-color: #fff transparent;
    border-width: 23px 0px 0px 23px;
    bottom: -15px;
    /* height: 25px; */
    right: 0px;
}
.progress{
    display: flex;
    justify-content: space-between;
}
.bottom{
    position: relative;
    flex-grow: .5;
    display: grid;
    justify-items: normal;
    align-content: space-evenly;

}
.outer{
    position: relative;
    width: 100%;
    height: 14px;
    background-color: #0f1b3d;
    /* padding:2px; */
    border-radius: 30px;
}
.inner{
    position: absolute;
    margin: 2px;
    top: 0;
    bottom: 0;
    left: 0;
    width: calc(100% * 0.815);
    border-radius: 30px;
    background: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}
.dot{
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
    height: 8px;
    width: 8px;
    background-color: white;
    border-radius: 50%;
}
progress[value]{
    width: 100%;
    /* Reset the default appearance */
/* -webkit-appearance: none;
appearance: none; */
}
progress[value]::-webkit-progress-bar {
    background-color: rgba(0, 0, 0, 0.801);
   
    }
    progress[value]::progress-value {
        background-image:
linear-gradient(-45deg,
        transparent 33%, rgba(0, 0, 0, .1) 33%,
        rgba(0,0, 0, .1) 66%, transparent 66%),
        lnear-gradient(top,
        rgba(255, 255, 255, .25),
        rgba(0, 0, 0, .25)),
    linear-gradient(left, #09c, #f44);
        border-radius: 2px;
        background-size: 35px 20px, 100% 100%, 100% 100%;
        }



.text{
    font-size: 14px;
}
.number{
    display: flex;
    color: #0f1b3d;

    margin-right: 2px;
}
.number div{
    margin-right: .5px;
}
.eight{
    transform: translateY(-1px);
  
}
.five{
    transform: translateY(1px);
    font-size: 24px;
    
}
.GB{
    color:  hsl(229, 7%, 55%);
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
}
sub{
    font-size: 12px;
    vertical-align: 1px;
}
sub:nth-child(2){
    font-size: 13px;
    vertical-align: -1px;
}

.logo img{
    width: 110px;
}
.icons img{
    background: rgba(0, 0, 0, 0.62);
    padding: 9px;
    border-radius: 9px;
    margin-right: 13px;
}
.icons img:nth-child(2){
    padding: 10px 7px;
}

.icons img:nth-child(3){
    padding: 12px 7px;
}

.attribution { 
    position: absolute;
    bottom: 0;
    font-size: 14px; 
    text-align: center;
 }
.attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (max-width:375px){
body{
    background: url("images/bg-mobile.svg");
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.arrow{
    display: none;
}
.left,.right{
    width:85%;
}
.text{
    text-align: center;
}
.back{
    display: none;
}
.remainder{
    bottom: -20px;
    /* touch-action: pan-left; */
    top: unset;
    right: unset;
    left: 22%;
}
.left{
    margin: 15px;
}
}